.timetable{
    width: 80%;
    aspect-ratio: 1/1;
    margin: auto;
    font-size: 1em;
}
.time{
    font-size: 0.5em;
}
.place{
    font-size: 0.7em;
    color: grey;
}
.day{
    color:red;
    font-size: 2em;
}
.today{
    background-color: yellow;
}